@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap');

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 36px;
}
